<!DOCTYPE html>
<html lang="it">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzap! Chatta con te stesso!</title>
</head>
<body>
    <div id="app" :data-theme="theme">
    <header>
        
    </header>
    <div id="root">
        <div id="container">
            <div class="leftbar">
                <!-- header -->
                <div class="user-header">
                    <div class="user-pic">
                        <img src="img/avatar_1.jpg" alt="">
                    <p>Mirko</p></div>
                    <div class="user-menu-icons">
                        <i @click="themeChanging(); changeTheme()" class="bi bi-circle-half"></i>
                        <i class="bi bi-arrow-clockwise"></i>
                        <i @click="toggleNewChatMenu()" class="bi bi-chat-left-fill"></i>
                        <i class="bi bi-three-dots-vertical"></i>
                    </div>
                </div>
                <!-- notifiche -->
                <div class="notification">
                    <div class="notification-icon">
                        <i class="bi bi-bell-slash-fill"></i>
                    </div>
                   <div class="notification-text">
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="!#">Attiva notifiche desktop</a>
                   </div>
                </div>
                <!-- search bar -->
                <div class="search-bar">
                    <input v-model="userSearch" type="text" class="search-input" @keyup="search" placeholder="Search">
                </div>
                <!-- CHAT LIST  -->
                <div class="chat-list">
                    <!-- chat container -->
                    <div v-if="item.visibility == true" v-for="(item, index) in arrContact" class="chat-container" @click="selectChat(index)" :class="activeChat === index ? 'active' : ''">
                        <div class="user-avatar">
                            <img :src="item.img" alt="">
                        </div>
                        <div class="chat-content">
                            <div class="chat-info">
                                <p>{{ item.name }}</p>
                                <span>{{item.lastAccess.substr(20, 8)}}</span>
                            </div>
                            <div class="chat-last-text">
                                <p v-if="item.chat.length > 0">{{ item.chat[item.chat.length -1].text.substr(0, 35) }} <span v-if="item.chat[item.chat.length -1].text.length > 35">...</span>  </p>
                            </div>
                        </div>
                    </div>
             
                
                </div>
                <!-- ^ END CHAT LIST ^ -->
            </div>



            <div class="rightbar">
                <div v-if="header1" class="chat-header"></div>


                <!-- chat header -->
                <div v-if="header2" class="chat-header">
                    <div v-for="(item, index) in arrContact" class="user-info" :class="activeChat === index ? 'active' : ''">
                        <div class="user-avatar">
                            <img :src="item.img" alt="">
                        </div>
                        <div class="user"><p>{{item.name}}</p>
                            <span>{{item.lastAccess}}</span>
                        </div>
                    </div>
                    <div class="chat-setting-icon">
                        <i class="bi bi-search"></i>
                        <i class="bi bi-paperclip"></i>
                        <i @click="toggleChatMenu" class="bi bi-three-dots-vertical"></i>
                        <div class="dropmenu-chat" :class="dropChatMenu ? 'show' : 'hide'">
                            <ul>
                                <li @click="deleteChat(activeChat)">Elimina Chat</li>
                                <li @click="deleteAllText(activeChat)">Elimina Messaggi</li>
                            </ul>

                        </div>
                    </div>
                </div>

                <!-- chat body -->
                <div v-if="header1" class="chat-body active bg-body">
        
                </div>
                <div v-if="header2" v-for="(item, index) in arrContact" class="chat-body" :class="activeChat === index ? 'active' : ''">
                    
                    <div v-for="(ele, i) in item.chat" 
                    :class="ele.status == 'recived' ? 'contact-text' : 'main-user-text'" @contextmenu.prevent="menu(index, i)">
                        <p>{{ ele.text }}</p>
                        <span>{{ele.data}}</span>
                    <div class="dropdown" :class="ele.menu == true ? 'drop-active' : ''">
                        <ul :class="{sent: ele.status == 'sent'}">
                            <li @click="deleteText(index, i)">Elimina Messaggio</li>
                        </ul>
                    </div>
                    </div>
                    

                </div>

                <!-- chat footer-->
                <div v-if="header1" class="chat-footer"></div>
                <div v-if="header2" class="chat-footer">
                    <div class="emoji">
                        <i class="bi bi-emoji-smile"></i>
                    </div>
                    <input v-model="newText.text" type="text" :id="{text: index == activeChat}" class="new-text-chat"  placeholder="Scrivi un messaggio" v-for="(item, index) in arrContact" :class="{active: index == activeChat}" v-on:keyup.enter="answer(index); addText(index); " @keydown="online(index);">
                    
                        <i  @click="answer(activeChat); addText(activeChat)" class="bi bi-send-fill" :class="sendIcon ? 'show' : 'hide'"></i>
                        <i v-if="micIcon" class="bi bi-mic-fill"></i>
                    
                </div>

            </div>

        </div>
        <div v-if="newChatMenu" class="popoppe">
            <input v-model="newChatName" class="new-chat" placeholder="Nome contatto" type="text">
            <input v-model="newChatText" class="new-chat text" placeholder="Messaggio..."  type="text">
            <div class="button-new-chat">
                <div @click="newChat()" class="btn send">Invia</div>
                <div @click="toggleNewChatMenu()" class="btn cancel">Cancella</div>
            </div>
        </div>
    </div>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    
		<script src="js/script.js"></script>
</body>
</html>